<%- include('../htmls/wTop.ejs' , {title : 'Home' }) %>
    <div class="container ">
        <h1 class="d-flex justify-content-center mt-4 mb-4"> Home</h1>

        <div class="row">
            <div class="shadow-lg card col m-5 bg-info bg-opacity-75">
                <div class="card-body">
                    <h5 class="card-title text-center mt-2">Số lượng sản phẩm</h5>
                    <p class="card-text text-center fs-2 mt-4"><%= coutSP%></p>
                </div>
            </div>

            <div class="shadow-lg card col m-5 bg-success bg-opacity-75">
                <div class="card-body">
                    <h5 class="card-title text-center mt-2">Số loại sản phẩm</h5>
                    <p class="card-text text-center fs-2 mt-4"><%= coutTL%></p>
                </div>
            </div>

            <div class="shadow-lg card col m-5 bg-danger bg-opacity-75" >
                <div class="card-body">
                    <h5 class="card-title text-center mt-2">Số tài khoản</h5>
                    <p class="card-text text-center fs-2 mt-4"><%= coutUser%></p>
                </div>
            </div>
        </div>


        <div class="row mt-5 mb-5 justify-content-center col-12">
            <div class="card me-5" style="width: 18rem;">
              <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/12/18/111219dsphoto04.jpg" class="card-img-top"
                alt="...">
              <div class="card-body">
                <h5 class="card-title">Nguyễn Bá Duy</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="https://www.facebook.com/DuyCodeDao" class="btn btn-primary">info</a>
              </div>
            </div>
            
          </div>

          <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/anh1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/anh2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/anh3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <%- include('../htmls/wBottom.ejs') %>